* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

    .App {
        padding: 0 30px;
        //button component
        .btn-wrapper {
            button {
                padding: 10px 20px;
                color: white;
                background-color: rgb(7, 196, 7);
                border: 1px solid rgb(7, 196, 7);
                border-radius: 3px;
                font-weight: bold;
                margin-bottom: 20px;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        //search component
        .search {
            text-align: center;
            margin: 100px;
            label {
                display: block;
                margin: 20px;
            }
            input {
                width: 100%;
                max-width: 300px;
                height: 40px;
                padding-left: 10px;
                border: none;
                outline: none;
                border: 1px solid rgb(196, 196, 196);
                border-radius: 3px;
                font-size: 20px;

                &:focus {
                    -webkit-box-shadow: 0px 0px 1px 1px #27ff2d;
                    box-shadow: 0px 0px 1px 1px #27ff2d;
                }
            }
        }
        //user list component
        .user-list {
            max-width: 600px;
            margin: 50px auto;
            .listbox {
                width: 100%;
                .user {
                    list-style-type: none;
                    border: 1px solid grey;
                    margin: 10px auto;
                    width: 100%;
                    a {
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            background-color: rgb(240, 240, 240);
                            -webkit-box-shadow: inset 0px 0px 3px 3px #4e4e4e;
                            box-shadow: inset 0px 0px 3px 3px #4e4e4e;
                        }
                    }

                    .img-wrapper {
                        max-width: 200px;
                        height: auto;
                        img {
                            width: 100%;
                        }
                    }
                    .desc-wrapper {
                        max-width: 390px;
                        h3 {
                            margin: 10px 20px;
                        }
                        .description {
                            margin: 5px 20px;
                        }
                    }
                }
            }
        }
        //repo list component
        .repo-list {
            max-width: 1200px;
            margin: 50px auto;

            h2 {
                text-align: center;
                margin-bottom: 50px;
            }

            .listbox {
                flex-flow: row wrap;

                .repo {
                    font-size: 15px;
                    position: relative;
                    list-style-type: none;
                    width: 32%;
                    min-width: 200px;
                    border: 1px solid rgb(197, 197, 197);
                    margin-bottom: 10px;
                    margin-left: 10px;
                    a {
                        display: flex;
                        flex-flow: column;
                        text-decoration: none;
                        padding: 15px;
                        height: 100%;
                        &:hover {
                            background-color: rgb(241, 241, 241);
                        }
                        & > span {
                            margin-bottom: 10px;
                        }
                    }
                    h3 {
                        text-align: center;
                        color: rgb(14, 137, 252);
                        margin-bottom: 10px;
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        margin-bottom: 10px;
                    }
                    .notification-list {
                        list-style-type: none;
                        margin-top: auto;
                        display: flex;
                        justify-content: space-evenly;

                        .notification {
                            display: inline-block;
                            min-width: 100px;
                            border: 1px solid rgb(196, 196, 196);
                            border-radius: 3px;
                            margin: 5px 0;
                            .img-wrapper {
                                width: 15px;
                                img {
                                    width: 100%;
                                }
                            }
                            .note,
                            .counts {
                                font-size: 11px;
                            }

                            div:first-child {
                                background-color: rgb(238, 238, 238);
                                padding: 5px;
                            }
                            div,
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        //error component
        .error {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            h1 {
                text-align: center;
                font-size: 32px;
                span {
                    color: rgba(103, 197, 9, 0.829);
                }
            }
            p {
                max-width: 900px;
            }
        }
        //loading
        .loading {
            margin: 50px auto;
        }
    }
}
